.listItem {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.itemText {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.itemBtn {
  min-width: 30px;
  min-height: 30px;
  border: 0.5px solid red;
  border-radius: 50%;
  font-size: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.itemBtn:hover,
.itemBtn:focus {
  box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.8);
  scale: 1.2;
}
.itemBtn:active {
  background-color: red;
}
